.bundle
.powenv
.powrc
db/*.sqlite3
log/*
tmp/
public/assets/
public/system/
public/sitemaps/
.sass-cache/
.DS_Store
config/deploy_passwords.rb
config/deploy/cap_notify.rb
coverage/
config/active_search.yml
config/database.yml
config/actv.yml
config/aus.yml
*.swp
*.swo
.idea/
*.rdb
*.out
.jhw-cache/*
.rspec
.project
cyclo/
turbulence/
*.iml
cyclo/
turbulence/
*.iml
.ruby-version
node_modules/*
public/build/*
*.sublime-workspace
# React on Rails
npm-debug.log*
node_modules

# Generated js bundles
/app/assets/webpack/*
yarn-error.log
client/jest/*
client/coverage/*
client/.yarnclean
stats.json
.vscode
