<%
  crumbs = [{text: '主页', url: '/'}]
  crumbs << {text: Topic.find(params[:topic_id]), url: request.path}
%>

<%= render(partial: 'shared/breadcrumb', locals: {crumbs: crumbs}) %>



<div class="row">
  <div class="col-sm-9 col-12">
    <div class="container">
      <%= render partial: 'shared/article', collection: @articles, as: 'article' %>
    </div>
  </div>
  <%= render :partial => 'shared/latest_fanli' %>
</div>