<div class="card center">
  <div class="card-header">
    <div class="text-center"><h5><%= @article.title %></h5></div>
    <div class="info">
      <div class="meta" style="color: rgba(0, 0, 0, 0.5)">
        <span class="name">作者:简互金</span>
        <span class="publish-time" data-toggle="tooltip" data-placement="bottom" title=""><%= @article.updated_at.strftime('%Y-%m-%d') %></span>
        <span class="wordage">字数 922</span>
       </div>
    </div>
  </div>
  <div class="card-body">
    <%= raw @article.content %>
  </div>
</div>
