<div class="col-sm-3 column-none" style="padding: 0px;">
  <div class="right-box-title">
    <div class="right-box-title_main">p2p理财返现专区</div>
    <a href="articles_list/2" target="_blank">MORE&gt;</a>
  </div>
  <%= render partial: 'shared/no_img_article', collection: Article.latest_fanli, as: 'article' %>
</div>