<div class="card" >
  <div class="card-header">
    <div class="right-box-title_main">p2p羊毛专区</div>
    <a href="/articles_list/2" target="_blank">MORE&gt;</a>
  </div>
  <ul class="list-group list-group-flush">
    <%= render partial: 'shared/right_rails_article_item', collection: Article.latest_fanli, as: 'article' %>
  </ul>
</div>

