<div class="card">
  <a href="<%= article_path(article) %>"> <img class="card-img-top right-rails-img" src="<%= article.image.url(:medium) %>" alt=""> </a>
  <div class="card-body">
    <p class="card-text"><%= link_to article.title, article_path(article) %>你换手机书法家欧式机风骚凡事都发生斯蒂芬是否是</p>
  </div>
</div>