<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-lipnk" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <!--<h5 class="card-title">Special title treatment</h5>-->
      <div class="row">
       <div class="col-2"><a target="_blank" href="/wdpingtai/yrcf/"><img src="http://img.fminers.com/yrcf.png" alt="宜人财富"></a></div>
      <div class="col-2">  <p class="card-text">10000元</p> <p>起投金额</p> </div>
      <div class="col-2">  <p class="card-text">预计最高年化</p> <p>21%</p></div>
      <div class="col-2"> <p class="card-text">投资期限</p> <p>3月</p></div>
      <div class="col-2"> <p class="card-text">投资期限</p> <p>3月</p></div>
      <div class="col-2">    <p><a href="#" class="btn btn-primary">Go somewhere</a></p> </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <!--<h5 class="card-title">Special title treatment</h5>-->
      <div class="row">
        <div class="col-2"><a target="_blank" href="/wdpingtai/yrcf/"><img src="http://img.fminers.com/yrcf.png" alt="宜人财富"></a></div>
        <div class="col-2">  <p class="card-text">起投金额</p> <p>10000元</p> </div>
        <div class="col-2">  <p class="card-text">预计最高年化</p> <p>21%</p></div>
        <div class="col-2"> <p class="card-text">投资期限</p> <p>3月</p></div>
        <div class="col-2"> <p class="card-text">投资期限</p> <p>3月</p></div>
        <div class="col-2">    <p><a href="#" class="btn btn-primary">Go somewhere</a></p> </div>
      </div>
    </div>
  </div>
</div>