<% title '首页' %>
<main class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col-sm-9 col-12">
      <%= render(partial: 'shared/bill_item', collection: @bills, as: 'bill') if qq_host? %>

      <%= render partial: 'shared/article', collection: @articles, as: 'article' %>
    </div>
    <%= render :partial => 'shared/latest_fanli' %>
  </div>
</main>
