<%
  bill_id = params[:bill_id]
  crumbs = [{text: '主页', url: '/'}]
  if bill_id.present?
    bill = Bill.find(bill_id)
    crumbs << {text: bill.bill_name, url: bill_url(bill)}
    crumbs << {text: '交单', url: request.path}
    title '交单'
  else
    crumbs << {text: '快速交单', url: request.path}
    title '快速交单'
  end
%>

<%= render(partial: 'shared/breadcrumb', locals: { crumbs: crumbs }) %>

<div class="container">
  <div class="row">
    <div class="form-signin">
      <%= render 'form', order: @order %>
    </div>
  </div>
</div>
