<div class="container">
  <div class="row">
    <div class="form-signin">
      <h1>New Order</h1>

      <%= render 'form', order: @order %>

      <%= link_to 'Back', orders_path %>
    </div>
  </div>
</div>
