<table class="table">
  <thead>
  <tr>
    <th scope="col">名称</th>
    <th scope="col">手机号码</th>
    <th scope="col">姓名</th>
    <th scope="col">投资期限</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @order.platform.try(:name) %></td>
    <td><%= @order.phone_num %></td>
    <td><%= @order.investor_username %></td>
    <td><%= @order.time_horizon %></td>
  </tr>
  </tbody>
</table>