// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card_boy_custom {
  padding: 0
}

.collapse_header {
  padding: 0;
}

.custom_footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wechat {
  margin-top: 8px;
  margin-left: 10px;
  color: #0f91dd;
}

.qq {
  margin-top: 6px;
  margin-left: 6px;
}

.new-order-form {
  display: none;
}

.article-abstract {
  margin-top: 3px;
  padding-right: 5px;
}

.article-footer {
  margin-top: 3px;
}

.no-image-article-time {
  margin-right: 10px;
}

.right-box-title {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  padding: 12px;
}

.right-box-title_main {
  display: inline-block;
  margin-right: 20px;
}

.carousel-img {
  width: 800px;
  height: 400px;
  display: block !important;
}

.article-item-img {
  width: 100%;
}
