// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card_boy_custom {
  padding: 0
}

.collapse_header {
  padding: 0;
}

.custom_footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wechat {
  margin-top: 8px;
  margin-left: 10px;
  color: #0f91dd;
}

.qq {
  margin-top: 6px;
  margin-left: 6px;
}