<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">简互金</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">主页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles_list/5">IT文章</a>
      </li>
      <% if qq_host? %>
          <li class="nav-item">
            <a class="nav-link" href="/orders/new">快速交单</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order_search">快速查单</a>
          </li>
      <% end %>
      <li class="nav-item qq">
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=ea599a5639d15758609076be15cad38f7e5d9132a25222d15f9e108c009f11d7"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="p2p互金交流2群" title="p2p互金交流2群"></a>
      </li>
      <li class="nav-item wechat">
        <span>公众号: 简互金(jianhujin)</span>
      </li>
    </ul>
    <form action="/articles/search" method="get" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="搜索" name="q"  aria-label="Search" value="<%= params[:q] %>">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>
